<hr />
<footer>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
   </div>
    <div class="col-md-4">
      <p class="text">{{ site.description }}</p>
    </div>
  </div>

  <p>&copy; Washington University in St. Louis</p>

</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <!-- Latest compiled and minified JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
